{% extends "layout01.html" %}
{% block title %}Charity Details{% endblock %}
{% block pagename %}Charity Details{% endblock %}
{% block content %}
   <div class="row">
          <div class="col-lg-6">
            <section class="panel">
              <div class="panel-body">
			  <div class="panel panel-info">
                  <div class="panel-heading">Panel heading</div>
                  <div class="panel-content">
					<img src="D:\Project\NiceAdmin\img\sample-img-1.jpg" style="height:auto;width:auto;"><br><br>
					A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.

				  </div>
              </div>
			  <a href="#"><div class="text-center"><button type="submit" class="btn btn-primary">See More</button></div></a>
				</div>
            </section>
          </div>
          <div class="col-lg-6">
            <section class="panel">
              <div class="panel-body">
			  <div class="panel panel-info">
                  <div class="panel-heading">Panel heading</div>
                  <div class="panel-content">
					<img src="D:\Project\NiceAdmin\img\sample-img-1.jpg" style="height:auto;width:auto;"><br><br>
					A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.

				  </div>
              </div>
			  <a href="#"><div class="text-center"><button type="submit" class="btn btn-primary">See More</button></div></a>
				</div>
            </section>
          </div>
		  <div class="col-lg-6">
            <section class="panel">
			<div class="panel-body">
              <div class="panel panel-info">
                  <div class="panel-heading">Panel heading</div>
                  <div class="panel-content">Panel content</div>
              </div>
			  <a href="#"><div class="text-center"><button type="submit" class="btn btn-primary">See MOre</button></div></a>
			  </div>
            </section>
          </div>
		  <div class="col-lg-6">
            <section class="panel">
			<div class="panel-body">
              <div class="panel panel-info">
                  <div class="panel-heading">Panel heading</div>
                  <div class="panel-content">Panel content</div>
              </div>
			  <a href="#"><div class="text-center"><button type="submit" class="btn btn-primary">See MOre</button></div></a>
			  </div>
            </section>
          </div>
        </div>
{% endblock %}