{% extends "layout01.html" %}
{% block title %}Charity Details{% endblock %}
{% block pagename %}Charity Details{% endblock %}
{% block content %}
   <div class="row">
        {% for row in charities %}
          <div class="col-lg-6">
            <section class="panel">
              <div class="panel-body">
			  <div class="panel panel-info">
                  <div class="panel-heading">{{ row.title }}</div>
                  <div class="text-left">Date :{{ row.pub_time }}</div>
                  <div class="panel-content">
					<img src="{{ url_for('static',filename='pics/' + row.image) }}" width="472" height="250"><br><br>
					{{ row.content }}

				  </div>

              </div>
			  <a href="#"><div class="text-center"><button type="submit" class="btn btn-primary">See More</button></div></a>
				</div>
            </section>
          </div>
        {% endfor %}
{% endblock %}
